<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Herware Project</title>
    <link rel="stylesheet" href="index.css" type="text/css">
</head>
<body>
    <div class="container">
        <h1>Welcome to the Herware Project</h1>
        <p>This is a paragraph of text.</p>
        <button class="button">Click me</button>
    </div>
</body>
</html>
